.signup,
.login {
  height: 100vh;
  width: auto;
  /* background-image: url("https://imgs.search.brave.com/https://wallpapercave.com/wp/Iw471VJ.jpg"); */
  justify-content: center;
}

.signup_form,
.login_form {
  margin-top: 10px;
  margin-left: 20%;
  background-color: grey;
  margin-right: 20%;
  border: none;
  border-radius: 12px;
  height: 95%;
  align-items: flex-start;
  text-align: center;
}

.signup_title,
.login_title {
  margin-top: 30px;
  align-self: center;
  font-weight: bold;
}

.form_items {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10px;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 20px;
}
.textinput {
  height: 25px;
  width: 90%;
  border: none;
  border-radius: 5px;
}

.signupButton,
.loginButton {
  margin-top: 20px;
  height: 30px;
  width: auto;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background-color: grey;
  font-weight: bold;
}
.signupButton:hover,
.loginButton:hover {
  border: inherit;
  border-radius: inherit;
  color: grey;
  background-color: white;
}

.question {
  margin-top: 20%;
  color: cadetblue;
}

.link {
  color: burlywood;
  text-decoration: none;
}
.link:hover {
  color: white;
  text-decoration: inherit;
  background-color: grey;
}
@media screen {
}
