.main {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  min-height: 100vh;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  background: white;
  transition: background 200ms, border 200ms;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 4em;
}

.nav_bar_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 21em;
  color: rgb(4, 4, 63);
}
.auth_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: rgb(4, 4, 63);
}
.auth {
  justify-content: space-evenly;
  margin-right: 10px;
}
.auth_list li,
.navigation_list li {
  margin-right: 1em;
}

.auth_list li:last-child,
.navigation_list li:last-child {
  margin-right: 0;
}

.auth_list a,
.navigation_list a {
  color: rgb(4, 4, 63);
}

.auth_list a:hover,
.navigation_list a:hover {
  text-decoration: none;
}

.auth_list a:active,
.navigation_list a:active {
  text-decoration: none;
}

.auth_list a:visited,
.navigation_list a:visited {
  color: rgb(4, 4, 63);
}

.navigation_list li {
  margin: 10px;
  font-size: medium;
}

.auth_list li {
  padding: 1px;
  margin: 10px;
  font-weight: bolder;
  font-size: larger;
}

.navigation_list li:hover {
  color: green;
}

.auth_list li:hover {
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
}

.auth_list li a,
.navigation_list li a {
  color: rgb(4, 4, 63);
}

.auth_list li a:hover,
.navigation_list li a:hover {
  text-decoration: none;
}
.title {
  margin-left: 15px;
  color: rgb(4, 4, 63);
}

.main_body {
  margin-top: 5em;
  margin-left: 3em;
  display: flex;
  flex-direction: row;
}
.main_body_info {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.main_body_info_content {
  align-items: center;
}
.catch_phrase {
  margin: 10px;
  color: green;
  font-weight: bolder;
  font-size: 24;
}
.main_body_info_title {
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  font-size: 24;
  font-weight: 100;
}
.main_body_info_description {
  margin: 10px;
  text-align: left;
  font-weight: 100;
  font-size: medium;
  font-style: italic;
  color: #063970;
}

.trial_button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}
.trial_button:hover {
  background-color: white;
  color: green;
  border: 2px solid grey;
  border-radius: 5px;
}

.trial_button h1 {
  padding: 10px;
}

.svg {
  width: 50em;
  height: 20em;
  padding-left: 30px;
  padding-bottom: 10px;
}
.image {
  margin-bottom: 10px;
  margin-left: 0;
  width: 90%;
  height: 100%;
}
.footer {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #154c79, #063970);
  height: 60vh;
  align-items: center;
}
.footer p a {
  color: white;
  text-align: center;
}
.footer p a:hover {
  text-decoration: underline;
}
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90%;
}

.about_app,
.about_developer,
.testimonials {
  display: flex;
  flex-direction: column;
  color: white;
  text-overflow: wrap;
  text-align: left;
  padding: 30px;
}
.about_app h1,
.about_developer h1,
.testimonials h1 {
  align-self: self-start;
  font-weight: 100;
  font-family: cursive;
  font-size: 30px;
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.copyright {
  text-align: center;
  color: grey;
  font-weight: bolder;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}
.my_slogan {
  text-align: left;
  color: grey;
  font-weight: bolder;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}
.my_slogan span {
  color: red;
  height: 10px;
  width: 10px;
}
.our_location h1 {
  margin-top: 10px;
}
.about_developer h1,
.our_location h1,
.testimonials h1 {
  font-weight: bolder;
}
.about_developer p,
.our_location p,
.testimonials ul li {
  font-weight: 100;
  margin-top: 10px;
  font-style: oblique;
}

.our_location p a:hover {
  text-decoration: underline;
}
.testimonials ul {
  list-style-type: none;
}
.testimonials ul li a:hover {
  text-decoration: underline;
}
/* Mobile */
@media (max-width: 700px) {
  .main {
    min-height: 45vh;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .nav_bar {
    justify-content: space-even;
  }
}
