.main {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  min-height: 100vh;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 1rem 1.2rem; */
  border-radius: var(--border-radius);
  background: white;
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 6em;
}

.nav_bar_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.auth_list,
.navigation_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 21em;
  color: rgb(4, 4, 63);
}

.auth_list li,
.navigation_list li {
  margin-right: 1em;
}

.auth_list li:last-child,
.navigation_list li:last-child {
  margin-right: 0;
}

.auth_list a,
.navigation_list a {
  color: rgb(4, 4, 63);
}

.auth_list a:hover,
.navigation_list a:hover {
  text-decoration: none;
}

.auth_list a:active,
.navigation_list a:active {
  text-decoration: none;
}

.auth_list a:visited,
.navigation_list a:visited {
  color: rgb(4, 4, 63);
}

.navigation_list li,
.auth_list li {
  margin: 10px;
  font-size: medium;
}

.navigation_list li:hover {
  text-decoration: underline;
  text-decoration-color: rgb(4, 4, 63);
}

.auth_list li:hover {
  border: 2px solid rgb(4, 4, 63);
  border-radius: 5%;
  padding: 5px;
}

.auth_list li a,
.navigation_list li a {
  color: rgb(4, 4, 63);
}

.auth_list li a:hover,
.navigation_list li a:hover {
  text-decoration: none;
}
.title {
  color: rgb(4, 4, 63);
}

.main_body {
  margin-top: 10em;
  margin-left: 10em;
  display: flex;

  flex-direction: row;
}
.main_body_info {
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
.catch_phrase {
  color: green;
  font-weight: bolder;
  font-size: 24;
}
/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
