.main {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  min-height: 100vh;
  margin: 10px;
}

.form {
  padding: 4rem;
  width: 30em;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  background: linear-gradient(to bottom, transparent, grey) transparent;
  border-radius: 5px;
  transition: background 200ms, border 200ms;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.form p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.form p span {
  color: brown;
}
.form p span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form_upper {
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  transition: background 200ms, border 200ms;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.form_upper_image {
  padding: 10px;
}

.form_title {
  text-align: center;
  margin: 5px;
}

.form_title h1 {
  color: darkblue;
  text-decoration: underline;
}
.form label {
  font-weight: 100;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}

.form input {
  border: 2px solid grey;
  border-radius: 5px;
  height: 2.5em;
  outline: none;
  padding: 10px;
}
.error {
  color: red;
  font-style: italic;
}

.form button {
  color: green;
  padding: 10px;
  margin-top: 10px;
  width: fit-content;
  align-self: center;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.form button:hover {
  color: white;
  background-color: green;
  border-radius: 5px;
  cursor: pointer;
}
